<table id="datatablesSimple">
    <thead>
        <tr>
            <th>No</th>
            <th>Name Game</th>
            <th>Category</th>
            <th>Nominal</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% for( let i = 0; i < voucher.length; i++ ) { %>
            <tr>
                <td><%= i + 1 %> </td>
                <td><%= voucher[i].name  %> </td>
                <td><%= voucher[i]?.category?.name ?? '-'  %> </td>
                <td>
                    <% voucher[i].nominals.forEach(nominal => { %>
                        <span>
                            <%= nominal.coinName %> <%= nominal.coinQuantity %> 
                        </span>
                    <% }) %> 
                </td>
                <td>
                    <% if (voucher[i].status === 'Y') { %>
                        <span>Active</span>                
                    <% } else { %>
                        <span>Non-Active</span>                
                    <% } %> 
                </td>
                <td>
                    <form action="/voucher/status/<%= voucher[i]._id  %>?_method=PUT" style="display: inline-block;" method="post">
                        <button class="btn btn-primary btn-sm">
                            <i class="fas fa-folder"></i>
                            <% if (voucher[i].status === 'Y') { %>
                                <span>Off</span>
                            <% } else { %>
                                <span>On</span>
                            <% } %> 
                        </button>
                    </form>
                    <a href="/voucher/edit/<%= voucher[i]._id  %>" class="btn btn-info text-white btn-sm"><i class="fas fa-pencil"></i> Edit</a>
                    <form action="/voucher/delete/<%= voucher[i]._id  %>?_method=DELETE" style="display: inline;" method="post">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>